body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.searchTerm {
  width: 80%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.table-space {
  margin-bottom: 20px;
}

.subtotal-row {
  font-weight: bold;
}

#tableContainer {
  width: 80%;
  margin: 20px auto;
  margin-bottom: 40px;
  overflow-x: auto; /* Agrega barras de desplazamiento horizontal solo si es necesario */
  padding: 10px; /* Agrega un relleno de 10px alrededor de la tabla */
}

#dataTable {
  width: 98%;
  border-collapse: collapse;
}

#dataTable th {
  background-color: #333;
  color: #fdfdfd;
  padding: 10px;
  text-align: center;
}

#dataTable td {
  padding: 10px;
}

#dataTable td:nth-child(2),
#dataTable td:nth-child(6) {
  text-align: center;
}

/* Centrado */

#dataTable td:nth-child(4) {
  text-align: center;
}


/* Tamaños de las columnas */
#dataTable th:nth-child(1),
#dataTable td:nth-child(1) {
  width: 20%; /* Primera columna */
}

#dataTable th:nth-child(2),
#dataTable td:nth-child(2) {
  width: 25%; /* Segunda columna */
}

#dataTable th:nth-child(3),
#dataTable td:nth-child(3) {
  width: 30%; /* Tercera columna */
}

#dataTable th:nth-child(4),
#dataTable td:nth-child(4) {
  width: 25%; /* Cuarta columna */
}



#dataTable tbody tr:nth-child(even) {
  background-color: #ddd;
}

@media only screen and (max-width: 600px) {
  .searchTerm {
    width: 80%;
  }
}
