body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.searchTerm {
  width: 80%; /* Modificado para dispositivos móviles */
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.table-space {
  margin-bottom: 20px; /* Espacio entre tablas */
}

.subtotal-row {
  font-weight: bold; /* Negrita subtotales */
}

#tableContainer {
  width: 750px;
  margin: 20px auto;
  overflow: auto;
  margin-bottom: 40px; /* Espacio inferior*/
}

#dataTable {
  width: 100%;
  border-collapse: collapse;
}

#dataTable th {
  background-color: #333;
  color: #fdfdfd;
  padding: 5px;
  text-align: center;
}

#dataTable td {
  padding: 5px;
}

#dataTable td:nth-child(2),
#dataTable td:nth-child(6) {
  text-align: center;
}

#dataTable tbody tr:nth-child(even) {
  background-color: #ddd;
}

@media only screen and (max-width: 600px) {
  .searchTerm {
    width: 80%; /* Ajustar el ancho del campo de búsqueda para dispositivos móviles */
  }
  #tableContainer {
    width: 90%; /* Ajustar el ancho del contenedor de la tabla para dispositivos móviles */
  }
}
